html,
body {
  /* tut styles */
  max-width: 800px;
  font-size: xx-large;
  /*  */
  padding: 0;
  margin: auto;
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
